<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.freeme.smartscan">
    <!-- permission for WiFI post processing,not for scankit itself -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- camera permission -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- read permission for Bitmap Mode -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- write permission for save QRCODE Bitmap,not for scankit itself -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- add for share QR code image,if without,will share fail using mediastore,but it's ok using fileprovider-->
    <!-- add for file listfiles api -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartScan" >

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:theme="@style/Theme.Freeme" />

        <activity
            android:name=".GenerateCodeActivity"
            android:exported="false"
            android:label="@string/generate_qr_code_title"
            android:theme="@style/Theme.Freeme" />

        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/settings_about"
            android:theme="@style/Theme.Freeme" />

        <activity
            android:name=".CardActivity"
            android:exported="false"
            android:label="@string/settings_card"
            android:theme="@style/Theme.Freeme" />

        <activity
            android:name=".DocumentActivity"
            android:exported="false"
            android:label="@string/settings_document"
            android:theme="@style/Theme.Freeme" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.freeme.smartscan.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>